

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 4%;
}

.navlogo h1{
  color: white;
  background-image: linear-gradient(to right, rgb(108, 7, 102), rgb(63, 3, 92));
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  font-size: 35px;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.navlinks a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
}

.navbtns {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.navbtns a {
  height: inherit;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
   font-family: 'Poppins', sans-serif;
     color: rgb(245, 245, 245);
}

.navbtns a:nth-child(1) {
  background-color: rgb(27, 27, 29);
}

.navbtns a:nth-child(2) {
  background: linear-gradient(to right, rgb(108, 7, 102), rgb(63, 3, 92));
}

header {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
   padding: 0px 4%;
}

.headerlft {
  width: 60%;
}

.headerlft > h1 {
  font-size: 4rem;
  line-height: 4rem;
  width: 90%;
  font-weight: 400;
  color: rgb(209, 209, 211);
}

.headerlft > p {
  width: 75%;
  padding: 1.5em 0px;
  font-size: 15px;
}

.headerlft > button {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, rgb(108, 7, 102), rgb(63, 3, 92));
  color: inherit;
  cursor: pointer;
  margin-top: 15px;
}
.headerlft > a {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, rgb(108, 7, 102), rgb(63, 3, 92));
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
  padding: 13px 40px;
}

.headerrght {
  width: 40%;
}